*{
margin: 0;
}

body{
margin:0;
font-family: 'Cabin Sketch', cursive;
text-align: center;
font-size: 2em;
}

h1{
font-size: 2em;
font-family: 'Cabin Sketch', cursive;
padding-bottom:20px;
}

.navbar-header{
  background-image: url(../img/logo.png);
  background-position: center center;
  background-size: cover;
  width: 10%;
}

.navbar{
margin-bottom: 0;
}

#menu{
display: block;
background-color:#2e2e2a;
position: fixed;
z-index: 2;
width: 100%;
}


ul{
list-style: none;
padding: 0;
margin: 0;
overflow: auto;
display:inline-flex;
float:right;
}

li {
width:100px;
text-align: center;
}

a{
text-decoration: none;
display: block;
color:#808B96;
}

.navbar:hover{
 color:#DC143C;
}

.desplegable{
display: none;
margin-left:50px;
}

.page{
margin-top: 150px;
margin-left: 50px;
position: absolute;
color:white;
font-size: 2.2em;
}

.header{
background-image: url(../img/ravi-roshan-383168-unsplash.jpg);
background-position: center center;
background-size: cover;
width: 100%;
padding-top:50em;
}

.titulo-principal{
 font-size: 2em;
}

.resena{
  font-size: 1em;
}

.abaut{
background-color: #DC143C;
color: #fff;
padding-top: 100px;
padding-bottom: 100px;
margin:0;
}

.titulo-abaut{
  background-image:url(../img/IMG-20151206-WA0016.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 30px 80px;
  height: 50vh;
  width: 50vh;
  }

.proyect{
text-align: justify;
padding-top: 30px;
padding-bottom: 30px;
}

.titulo-proyect{
text-align: center;
}

.proyect1{
background-color:#DC143C;
color: #fff;
padding-bottom: 60px;
}

.foto-proyect1{
background-image:url(../img/bustrack.png);
background-position: center center;
background-size: cover;
height: 200px;
}

.titulo-proyect1 h1{
padding-top: 15px;
font-size: 1.3em;
text-align: center;
}


.proyect2{
background-color:#DC143C;
color: #fff;
padding-bottom: 60px;
}

.foto-proyect2{
background-image:url(../img/m-bank.png);
background-position: center center;
background-size: cover;
height: 200px;
}

.titulo-proyect2 h1{
padding-top: 15px;
font-size: 1.3em;
text-align: center;
}

.proyect3{
background-color:#DC143C;
color: #fff;
padding-bottom: 60px;
}

.foto-proyect3{
background-image:url(../img/womanlive.png);
background-position: center center;
background-size: cover;
height: 200px;
}

.titulo-proyect3 h1{
padding-top: 15px;
font-size: 1.3em;
text-align: center;
}

.titulo-skill{
padding-top: 80px;
padding-bottom: 20px;
}

.titulo-contact{
padding-top: 80px;
padding-bottom: 20px;
}

.icons {
  padding-top: 50px;
  padding-bottom:50px;
  font-size: 2.2em;
 }

.icons p{
 font-size: .5em;
}

.footer{
background-color:#DC143C;
padding: 5px;
color:#FFFF;
font-size:1em;
}
