* {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  background-color: #fff;
  position: relative;
}

h1, h2{
  text-align: center;
}

p {
  text-align: justify;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-brand img {
  width: 60%;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #DC143C;
}

.fondo {
  background-image: url(../img/ravi-roshan-383168-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

#aboutme {
  padding-top: 80px;
  padding-bottom: 20px;
}

#aboutme h2 {
  padding-bottom: 20px;
  text-decoration: underline #DC143C;
}

.photo-aboutme {
  background-image: url(../img/silviaolivera.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 30px 80px;
  height: 50vh;
  width: 50vh;
}

#proyect {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #212529;
}

#proyect h1 {
  padding-bottom: 20px;
  color: #f8f9fa;
}

.titulo-proyect::before {
  content: "";
  background-color: #DC143C;
  padding: 0 2px;
}

.titulo-proyect::after {
  content: "";
  background-color: #DC143C;
  padding: 0 2px;
}

.card-img:hover {
  width: 103%;
}

.col-md {
  padding-right: 0px;
  padding-left: 0px;
}

.card-bustrack {
  background-image: url(../img/bustrack.png);
}

.card-punto {
  background-image: url(../img/puntoventa.png);
}

.card-womanlive {
  background-image: url(../img/womanlive.png);
}

.row {
  margin-right: 0px;
}

a:hover {
  color: #DC143C;
  font-size: 1.3em;
}

.seemore {
  color: #dc3545;
}

#skill {
  text-align: center;
}

.titulo-skill {
  padding-top: 80px;
  padding-bottom: 20px;
}

.titulo-skill::before {
  content: "";
  background-color: #DC143C;
  padding: 0 2px;
}

.titulo-skill::after {
  content: "";
  background-color: #DC143C;
  padding: 0 2px;
}

#contact {
  text-align: center;
}

.titulo-contact {
  padding-top: 80px;
  padding-bottom: 20px;
}

.titulo-contact::before {
  content: "";
  background-color: #DC143C;
  padding: 0 2px;
}

.titulo-contact::after {
  content: "";
  background-color: #DC143C;
  padding: 0 2px;
}

.icons {
  padding-top: 50px;
  margin-bottom: 40px;
  font-size: 3em;
  text-align: center;
}

.icons p {
  font-size: 0.3em;
  text-align: center;
}

.marvel {
  height: 70px;
}

.gif {
  background-image: url(../img/giphy.gif);
  background-position: center center;
  background-size: cover;
  height: 20vh;
}

.footer {
  background-color: #DC143C;
  text-align: center;
  padding: 5px;
  color: #FFFF;
  font-size: 1em;
}

.footer a {
  color: #FFFF;
}
