*{
margin: 0;
}

body{
margin:0;
font-family: 'Titillium Web', sans-serif;
text-align: center;
font-size: 1.1em;
background-color: #f8f9fa;
}

h1{
font-family: 'Alegreya Sans SC', sans-serif;
font-weight: bold;
}

h2{
  font-weight: bold;
}

header{
 position: fixed;
 width: 100%;
 z-index: 100;
  }


.navbar-brand img{
width: 80%;
}

.navbar-light .navbar-nav .nav-link:hover{
  color:#DC143C;
}

.page{
  margin-top: 100px;
  padding-left: 50px;
  position: absolute;
  color:#fff;
  z-index: 1;
  text-shadow:
   -1px -1px 0 #fff,
    1px -1px 0 #000,
   -1px 1px 0 #fff,
    1px 1px 0 #000;
}

.fondo{
  background-image: url(../img/ravi-roshan-383168-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  padding-top:35em;
}

.abaut{
  background-color: #DC143C;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  margin:0;
}

.titulo-abaut{
  background-image:url(../img/IMG-20151206-WA0016.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 30px 80px;
  height: 50vh;
  width: 50vh;
  }

.proyect{
  text-align: justify;
  padding-top: 30px;
  padding-bottom: 30px;
}

.titulo-proyect{
  text-align: center;
}
.titulo-proyect a{
  text-align: center;
}

.proyect1{
  background-color:#DC143C;
  color: #fff;
}

.text-white{
  width: 40vh;
}

.card-img{
  width: 40vh;
}
.card-text{
  color:#000;
  background-color:#f8f9fa;
}

.bg-dark{
  background-color:#f8f9fa;!important;
}

a{
  color:rgba(0,0,0,.5);
}

a:hover{
  color: #DC143C;
}
.vermas{
  color:#fff;
}

.titulo-skill{
  padding-top: 80px;
  padding-bottom: 20px;
}

.titulo-contact{
  padding-top: 80px;
  padding-bottom: 20px;
}

.icons {
  padding-top: 50px;
  padding-bottom:40px;
  font-size: 3.5em;
 }

.icons p{
 font-size: 0.3em;
}


.marvel{
 height: 70px;
}

.footer{
  background-color:#DC143C;
  padding: 5px;
  color:#FFFF;
  font-size:1em;
}
.footer a{
  color:#FFFF;;
}
